[submodule "bench/flexguard"]
	path = bench/flexguard
	url = git@github.com:JerryMouseZ/flexguard.git
[submodule "bench/mutexbench"]
	path = bench/mutexbench
	url = git@github.com:JerryMouseZ/mutexbench.git
[submodule "bench/mutexbench_rust"]
	path = bench/mutexbench_rust
	url = git@github.com:JerryMouseZ/mutexbench_rust.git
[submodule "third_party/leveldb-1.23"]
	path = third_party/leveldb-1.23
	url = https://github.com/google/leveldb.git
[submodule "third_party/CacheLib"]
	path = third_party/CacheLib
	url = https://github.com/facebook/CacheLib.git
